@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* 

GLOBAL

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h3{
    color: #6415ff;
    margin-bottom: 16px;
}

button{
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    border: none;
    cursor: pointer;
}

.container{
    padding: 56px 24px;
    margin-bottom: 32px;
}

.blue{
    color: #6415ff;
}

p{
    line-height: 1.5;
}

.values__button:hover{
    background-color: #5517d1;
    text-decoration: none;
}

/* 

NAVAGATION

*/

nav{
    height: 125px;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.nav__logo--img{
    width: 45px;
    max-width: 45px;
    margin-right: 16px;
}

.nav__logo--title{
    color: #243e63 ;
    font-weight: 900;
    font-size: 24px;
}



.nav__links{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav__link{
    position: relative;
    margin: 0 16px;
    color: #243e63 ;
    font-weight: 600;
}

.nav__link::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #6415ff;
    transition: all 0.2s ease;
}

.nav__link:hover::after{
    width: 100%;
    left: 0;
}

.nav__link--primary{
    padding: 8px 24px;
    border-radius: 50px;
    background-color:#6415ff;
    color: white;
    border: none;
    transition: all 300ms ease;
    text-decoration: none;
}

.nav__link--primary:hover::after{
    display: none;
    background-color:  #5517d1;
}

/* 

LANDING 

*/

#landing{
    height: calc( 100%vh - 125px );
}

.landing__description--container{
    width: 100%;
    max-width:425px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.landing__description--title{
    font-size: 48px;
    margin-bottom: 24px;
    padding-top: 24px;
}

.landing__para{
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    font-weight: 600;
    color: #243e63;
    margin-bottom: 24px;
    

}

.landing__description{
    display: flex;

}

.landing__email--wrapper{
    border: 2px solid rgb(229, 231, 235);
    border-radius: 50px;
    width: 92%;
    height: 70px;
    padding-top: 2px;
    padding-left: 16px;
    margin: 8px 0 32px;
    display: flex;
    align-items: center;

}

.landing__email{
    position: a;
    border: none;
    font-size: 16;
}

input::placeholder{
    font-size: 16px;
}

.landing__button{
    font-size: 16px;
    font-weight: 800;
    padding: 16px 32px;
    margin-bottom: 2px;
    margin-left: 32px;
    cursor: pointer;
    transition: all 300ms ease;
}

.landing__button:hover{
    background-color: #5517d1;
}


.landing__img-title{
    color: #a0aec0;
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.landing__img--customer-logo{
    width: 100%;
    max-width: 375px;
    height: 8%;
}

.landing__img{
    width:100%;
}

/*

FEATUARES

*/

.features__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__description{
    text-align: center;
    font-size: 56px;
    color: #243e63;
    padding: 8px;
    margin-bottom: 32px;
}

.features__para{
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #7c8ba1;
    margin-bottom: 24px;
    font-weight: 600;
}

.main__cards{
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex: calc( 100% / 3);
    margin-bottom: 36px;
    padding: 32px 0;
   
}

.card__wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}



.card__img--wrapper{
    width: 64px;
    height: 64px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__img{
    width: 100px;
    padding: 25px;
}

.card__title{
    margin-left: 36px;
    color: #243e63;
}

.card__para{
    margin-left: 36px;
    margin-top: 16px;
    color: rgb(124, 139, 161);
    line-height: 1.8;
    font-weight: 600;
    width: 200px;
}

/* 

LEARN

*/

.learn__container{
    display: flex;
    
}

.learn__description--wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-left: 8px;
}

.learn__title{
    padding: 8px;
    margin-bottom: 16px;
}

.learn__description{
    margin-bottom: 24px;
    padding: 8px;
    font-weight: 800;
    font-size: 56px;
    color: #243e63;
}

.learn__para{
    width: 500px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin: 0 8px 24px 8px;
}

.learn__button{
    width: 35%;
    margin: 8px 0 8px 8px;
    padding: 12px 12px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #6415ff;
    color: white;
    border: none;
    transition: all 300ms ease;
    cursor: pointer;
}

.learn__button:hover{
    background-color:  #5517d1;
}

.learn__img--container{
    width: 800px;
    padding-left: 56px;
    margin-left: 24px;
}

.learn__img{
    width: 100%;
    height: 450px;
    padding: 32px;
    margin-left: 56px;
    margin-top: 56px;
}

/* 

STEPS

*/

#steps{
    max-width: 1200px;
    margin: 0   auto;

}

.steps__container{
    display: flex;
    align-items: center;
}


.steps__img--wrapper{
    width: 100%;
    height: 100%;
    padding: 8px;
}

.steps__img{
    width: px;
    height: 350px;    
}

.steps__container--wrapper{
    padding: 16px 0 16px 80px;
}

.steps__title{
    margin-bottom: 24px;
}

.steps__description{
    width: 500px;
    margin: 24px 0;
    font-size: 46px;
    font-weight: 900;
    color: #243e63;
}

.steps{
    display: flex;
    flex-wrap: wrap;
}

.steps__number{
    display: flex;
}

.step__number{
    width: 70px;
    margin:0 0 48px 0;
    font-size: 38px;
    color:#cbd5e0;
    font-weight: 650;
}

.step__title{
    margin-bottom: 16px;
    color: #243e63;
}

.step__para{
    width: 320px;
    margin-bottom: 32px;
    color:#718096;
}

/* 

VALUES

*/

.values__container{
    display: flex;
}

.values__container--wrapper{
    display: flex;
    flex-direction: column;
}

.values__description{
    width: 600px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 56px;
    color: #243e63;
}

.values__para{
    width: 550px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin: 0 8px 24px 0 ;
}

.values__list--container{
    display: flex;
}

.values__list{
    margin-bottom: 24px;
}

.values__list--wrapper,
.values__list--brief-wrapper{
    width: 175px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 24px;
}
.values__list--wrapper{
    width: 175px;
}

.values__list--brief-wrapper{
    width: 240px;
}

.dollar-img,
.brief-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.dollar{
    color: rgb(39, 103, 73) ;
}


.dollar-img{
   background-color: #9ae6b4; 
}

.brief-img{
    background-color: #feb2b2;
}

.brief{
    color: rgb(155, 44, 44) ;
}

.dollar__title,
.brief__title{
    align-content: center;
    color: #243e63;
    font-size: 22px;
    margin-right: 16px;
}

.values__list--para{
    width: 255px;
    color: #718096;
    margin-bottom: 16px;
}

.values__button{
    width: 150px;
    padding: 12px 12px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #6415ff;
    color: white;
    border: none;
    transition: all 300ms ease;
}


.values__img{
    width: 650px;
}

/* 

PRICING

*/

.pricing__subtitle{
  text-align: center;  
}

.pricing__title{
    margin-bottom:32px ;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #243e63;
}

.pricing__para{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin-bottom:24px ;
}

.pricing__cards{
    display: flex; 
    gap: 48px;
}

.pricing__card{
    display: flex;
    flex-direction: column;
}


.pricing__card--wrapper{
    width: 400px;
    height: 600px;
    margin-top: 24px;
    border: 1px solid rgba(128, 128, 128, 0.196);
    border-radius: 12px;
}

.pricing__card--wrapper--primary{
    width: 380px;

}

.solid__color{
    height: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: linear-gradient(
        115deg, 
        #38b2ac 0%,
        #81e6d9 100%
    );
}

.pricing-card__title--container{
    text-align: center;
    border:2px solid rgba(128, 128, 128, 0.196) ;
    height: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pricing-card__title{
    margin: 24px 0 8px 0;
    font-size: 20px;
}

.price{
    font-size: 48px;
    font-weight: 700;
}

.pricing__card--para{
    font-size: 16px;
    font-weight: bold;
    color: #a0aec0;
}

.card__subtitle--container{
    border:2px solid rgba(128, 128, 128, 0.196);
    border-top: none;
    border-left:none ;
    border-right: none;
}

.pricing-card__title{
    text-align: center;
    margin-bottom: 16px;
    padding: 2px;
}

.card__subtitle--para{
    text-align: center;
    margin-bottom: 24px;
    padding: 2px;
    color: #718096;
    font-weight: 550;
}

.card--light{
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__button--light-green{
    width:175px ;
   padding: 16px;
   font-size: 16px; 
   background: linear-gradient(115deg, 
        #38b2ac 0%,
        #81e6d9 100%);
    transition: all 300ms ease;    
}

.card__button--light-green:hover{
    box-shadow:0px 20px 25px -5px rgba(0,0,0, 0.1) ;
    transform: translate(1px, -1px)
}





.pricing-card__title--container--primary{
    background: linear-gradient(
        135deg,
        rgb(76, 81, 191) 0%,
        rgb(102, 126, 234) 100%
    );
    height: 207px;
    border:2px solid rgba(244, 244, 244, 0.196) ;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.pricing-card__title--primary,
.price--primary,
.pricing__card--para--primary,
.card__subtitle--para--primary
{
    color: #f7fafc;
}

.card__subtitle__primary{
    background: linear-gradient(
        135deg,
        rgb(76, 81, 191) 0%,
        rgb(102, 126, 234) 100%
    );
    border-top:2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
    border-left: none;
    border-right: none;
}

.card__light--primary{
    height: 112px;
   background: linear-gradient(
        135deg,
        rgb(76, 81, 191) 0%,
        rgb(102, 126, 234) 100%
    ); 
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.card__button--primary{
    width:175px ;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    background-color: #f7fafc;
    color: #6415ff;
    transition: all 300ms ease;
}

.card__button--primary:hover{
    box-shadow:0px 20px 25px -5px rgba(0,0,0, 0.1) ;
    transform: translate(1px, -1px)
}

.solid__color--red{
    background: linear-gradient(
115deg,
rgb(245, 101, 101) 0%,
rgb(254, 178, 178) 100%
);
}

/* 

TESTIMONOIAL

*/

.testimonial__container{
    display: flex;
}


 .testimonial__img--wrapper{
    max-width: 640px;
    align-content: center;
 }

 .testimonial__img{
    width: 100%;
 }

.testimonials__wrapper{
   width: 100%;
   max-width: 640px;
   padding-left: 56px;
}

.testimonials__subtitle{
    margin-bottom:32px ;
    font-size: 48px;
    font-weight: 900;
    color: #243e63;  
}

.testimonials__para{
    width: 550px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin: 0 8px 24px 0 ;  
}

.fa-star{
    margin-bottom: 24px;
    color: rgb(246 173 85);
}

.stars__subtitle{
    margin-bottom: 24px;
    font-size: 20px;
    color: #4a5568;
}

.stars__para{
    margin: 32px 0;
    line-height: 1.6;
    width: 570px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(74 85 104) ;
}


.testimonial-person{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.testimonial-person__container{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .testimonial-person__img--wrapper{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    overflow: hidden;
 }

 .testimonal-person--img{
    width: 100%;
 }

 .testimonial__name{
    font-size: 20px;
    color: #4a5568;
    margin-bottom: 4px;
 }

 .testimonial__add{
    color: #7c8ba1;
 }

 .arrows{
    display: flex;
 }

 .arrows{
    color: #6415ff;
 }

 .figure__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color:#edf2f7 ;
    transition: all 300ms ease;
    cursor: pointer;
 }

 .figure__container:hover{
    background-color: #e1e6f0;
 }

 /* 
 
 START

 */


 .start__container{
    width:100%;
    max-width:1280px ;
    height: 282px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 125px;
    margin-bottom: 100px;
    background-color:rgb(100, 21, 255) ;
    color: #f7fafc;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
 }

 .start__title{
    width: 480px;
    font-size:32px ;
 }

 .start__buttons{
   width: 500px;
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
 }

 .start__button{
    width: 175px;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    background-color:#f56565 ;
    transition: all 300ms ease;
 }

 .start__button:hover{
    background-color: rgba(229, 62, 62);
 }

 .start__button--blue{
   background-color: rgb(100, 21, 255) ;
   border: 1px solid ;
   margin-right: 32px;
   transition: all 300ms ease;
 }

.start__button--blue:hover{
    background-color: #f7fafc;
    color: rgb(100, 21, 255)  ;
 }
 
 /* 
 
 footer
 
 */

.footer__row{
    margin-top: 200px;
    max-height: 100vh;
    height: 500px;
    max-width: 100vw;
    background-color: rgb(100, 21, 255) ;
}

.footer__links--container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-bottom: 56px;
    padding: ;
}

.footer__links--container{
 line-height:2;
}

.footer__link--title{
    color: #f7fafc;
}

.footer__link--link{
    position: relative;
    color: #f7fafc ;
}



.footer__link--link::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.2s ease;
}

.footer__link--link:hover::after{
    width: 100%;
    left: 0;
}

.footer__end--container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 48px;
    border-top: 2px solid rgb(119, 58, 241);
    width: 1200px;
}

.footer__footer--wrapper{
    display: flex;
    align-items: center;
}

.footer__img--wrapper{
    width: 30px;
    height: 30px;
}

.footer__img{
    width: 100%;
    height: 100%;
}

.footer__title{
    padding-left: 8px;
    font-size: 20px;
    color: #edf2f7;
}

.copyright{
    color: #cbd5e0;
}

.fa-facebook-f,
.fa-twitter,
.fa-youtube
{
    margin-left: 8px;
    padding: 12px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #edf2f7;
    color: #243e63;
    cursor: pointer;
    transition: all 300ms ease;
}

.fa-facebook-f:hover{
    background-color: #dee7f8;
}

.fa-twitter:hover{
    background-color: #dee7f8;
}

.fa-youtube:hover{
    background-color: #dee7f8;
}



