@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* 

GLOBAL

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h3{
    color: #6415ff;
    margin-bottom: 16px;
}

button{
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    border: none;
}

.container{
    padding: 56px 24px;
    margin-bottom: 32px;
}

.blue{
    color: #6415ff;
}

p{
    line-height: 1.5;
}

.nav__link--primary, 
.values__button:hover{
    background-color: #5517d1;
    text-decoration: none;
}

/* 

NAVAGATION

*/

nav{
    height: 125px;
    display: flex;
    justify-content: space-between;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.nav__logo--img{
    width: 45px;
    max-width: 45px;
    margin-right: 16px;
}

.nav__logo--title{
    color: #243e63 ;
    font-weight: 900;
    font-size: 24px;
}



.nav__links{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav__link{
    margin: 0 16px;
    padding: 8px;
    color: #243e63 ;
    font-weight: 600;
    text-underline-offset: 6px;
}



.nav__link:hover{
    text-decoration:underline;
    text-decoration-color: #6415ff ;
    text-decoration-thickness: 2px;
}

.nav__link--primary{
    padding: 8px 24px;
    border-radius: 50px;
    background-color: #6415ff;
    color: white;
    border: none;
    transition: all 300ms ease;
}

.nav__link--primary:hover{
    text-decoration: none;
}

/* 

LANDING 

*/

#landing{
    height: calc( 100%vh - 125px );
}

.landing__description--container{
    width: 100%;
    max-width:425px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    margin-right: 32px;
}

.landing__description--title{
    font-size: 44px;
    margin-bottom: 24px;
    padding-top: 24px;
}

.landing__para{
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    font-weight: 300;
    color: #243e63;
    margin-bottom: 24px;
    

}

.landing__description{
    display: flex;

}

.landing__email--wrapper{
    border: 2px solid rgb(229, 231, 235);
    border-radius: 50px;
    width: 92%;
    height: 70px;
    padding-top: 2px;
    padding-left: 16px;
    margin: 8px 0 32px;
    display: flex;
    align-items: center;

}

.landing__email{
    position: a;
    border: none;
    font-size: 16;
}

input::placeholder{
    font-size: 16px;
}

.landing__button{
    font-size: 16px;
    font-weight: 800;
    padding: 16px 32px;
    margin-bottom: 2px;
    margin-left: 32px;
    cursor: pointer;
    transition: all 300ms ease;
}

.landing__button:hover{
    background-color: #5517d1;
}


.landing__img-title{
    color: #a0aec0;
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.landing__img--customer-logo{
    width: 100%;
    max-width: 375px;
    height: 8%;
}

.landing__img{
    width:100%;
}

/*

FEATUARES

*/

.features__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__description{
    text-align: center;
    font-size: 56px;
    color: #243e63;
    padding: 8px;
    margin-bottom: 32px;
}

.features__para{
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #7c8ba1;
    margin-bottom: 24px;
    font-weight: 600;
}

.main__cards{
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;

}

.card{
    display: flex;
    flex: calc( 100% / 3);
    margin-bottom: 36px;
    padding: 32px;
   
}

.card__wrapper{
    display: flex;
    flex-direction: column;
}



.card__img--wrapper{
    width: 64px;
    height: 64px;
    border: 2px solid rgb(229, 231, 235);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__img{
    width: 100px;
    padding: 25px;
}

.card__title{
    margin-left: 36px;
    color: #243e63;
}

.card__para{
    margin-left: 36px;
    margin-top: 16px;
    color: rgb(124, 139, 161);
    line-height: 1.8;
    font-weight: 600;
    
}

/* 

LEARN

*/

.learn__container{
    display: flex;
    
}

.learn__description--wrapper{
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    margin-left: 8px;
}

.learn__title{
    padding: 8px;
    margin-bottom: 16px;
}

.learn__description{
    margin-bottom: 24px;
    padding: 8px;
    font-weight: 800;
    font-size: 56px;
    color: #243e63;
}

.learn__para{
    width: 500px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin: 0 8px 24px 8px;
}

.learn__button{
    width: 35%;
    margin: 8px 0 8px 8px;
    padding: 12px 12px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #6415ff;
    color: white;
    border: none;

}

.learn__img--container{
    width: 800px;
    padding-left: 56px;
    margin-left: 24px;
}

.learn__img{
    width: 100%;
    height: 450px;
    padding: 32px;
    margin-left: 56px;
    margin-top: 56px;
}

/* 

STEPS

*/

#steps{
    max-width: 1200px;
    margin: 0   auto;

}

.steps__container{
    display: flex;
    align-items: center;
}


.steps__img--wrapper{
    width: 100%;
    height: 100%;
    padding: 8px;
}

.steps__img{
    width: px;
    height: 350px;    
}

.steps__container--wrapper{
    padding: 16px 0 16px 80px;
}

.steps__title{
    margin-bottom: 24px;
}

.steps__description{
    width: 500px;
    margin: 24px 0;
    font-size: 46px;
    font-weight: 900;
    color: #243e63;
}

.steps{
    display: flex;
    flex-wrap: wrap;
}

.steps__number{
    display: flex;
}

.step__number{
    width: 70px;
    margin:0 0 48px 0;
    font-size: 38px;
    color:#cbd5e0;
    font-weight: 650;
}

.step__title{
    margin-bottom: 16px;
    color: #243e63;
}

.step__para{
    width: 320px;
    margin-bottom: 32px;
    color:#718096;
}

/* 

VALUES

*/

.values__container{
    display: flex;
}

.values__container--wrapper{
    display: flex;
    flex-direction: column;
}

.values__description{
    width: 600px;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 56px;
    color: #243e63;
}

.values__para{
    width: 550px;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    margin: 0 8px 24px 0 ;
}

.values__list--container{
    display: flex;
}

.values__list{
    margin-bottom: 24px;
}

.values__list--wrapper,
.values__list--brief-wrapper{
    width: 175px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 24px;
}
.values__list--wrapper{
    width: 175px;
}

.values__list--brief-wrapper{
    width: 240px;
}

.dollar-img,
.brief-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.dollar{
    color: rgb(39, 103, 73) ;
}


.dollar-img{
   background-color: #9ae6b4; 
}

.brief-img{
    background-color: #feb2b2;
}

.brief{
    color: rgb(155, 44, 44) ;
}

.dollar__title,
.brief__title{
    align-content: center;
    color: #243e63;
    font-size: 22px;
    margin-right: 16px;
}

.values__list--para{
    width: 255px;
    color: #718096;
    margin-bottom: 16px;
}

.values__button{
    width: 150px;
    padding: 12px 12px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #6415ff;
    color: white;
    border: none;
    transition: all 300ms ease;
}


.values__img{
    width: 650px;
}

/* 

PRICING

*/

.pricing__subtitle{
  text-align: center;  
}

.pricing__title{
    margin-bottom:32px ;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: #243e63;
}

.pricing__para{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
}

.pricing__cards{
    display: flex; 
    justify-content: space-around;   
}

.pricing__card--wrapper{
    width: 300px;
    height: 400px;
    border: 2px solid black;
}

.pricing__card{
    display: flex;
    flex-direction: column;
}

.solid__color{
    border: 3px solid   green;
}

.pricing-card__title--container{
    border: solid ;
    height: 200px;
}

.card__subtitle--container{
    border: solid;

}



